@{ Layout = null; }
@inherits System.Web.Mvc.WebViewPage
@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell
@using EPiServer.Shell.UI
@using EPiServer.Shell.Web.Mvc
@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Shell.Navigation
@{
    var dojo = new DojoConfig { Async = true, ParseOnLoad = true };
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Shell -->
    @Html.Raw(ClientResources.RenderResources("ShellCore"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgets"))

    <!-- LightTheme -->
    @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgetsLightTheme"))
    <!-- Navigation -->
    @Html.Raw(ClientResources.RenderResources("Navigation"))

    <!-- Dojo Dashboard -->
    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))
    @Html.Raw(ClientResources.RenderResources("DijitWidgets", new[] { ClientResourceType.Style }))

    @Html.CssLink("/App_Themes/Default/Styles/system.css")

</head>
<body>
    @Html.Raw(Html.ShellInitializationScript())
    @Html.Raw(Html.GlobalMenu())


    @Html.Raw(DojoConfigurationHelper.ConfigureDojo(null, dojo, true))
    <script type="text/javascript" src="@Paths.ToShellClientResource("clientresources/dojo/dojo.js")"></script>
    <script type="text/javascript" src="@Paths.ToShellClientResource("clientresources/epi/epi.js")"></script>

    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Script }))

    @Html.Raw(Html.ScriptResource(Paths.ToClientResource("urlRewritePlugin", "UrlRewritePlugin/UrlRedirectsMenu/UrlRedirectsMenu.js")))

    @RenderSection("ScriptContent", false)

    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
